body {
    background: #eeeeee;
}

.bloc_panier1 {
    padding: 3%;
    border: 1px solid rgb(119, 119, 119);
    margin-right: 2%;
    background: white;
    margin-bottom: 5%;
  }
  
  .bloc_panier2 {
    padding: 3%;
    border: 1px solid rgb(119, 119, 119);
    display: flex;
    flex-direction: column;
    background: white;
  }
  
  .body_panier {
   margin: 5%;
   display: flex;
   align-items: center;
  }

  @media screen and (max-width: 890px) {
    .body_panier {
        display: flex;
        flex-direction: column;
    }
  }
  
  .img_panier {
    width: 350px;
  }
  
  span {
    display: flex;
    align-items: flex-end;
  }
  
  .titre_panier {
      font-size: 1.5em;
      padding-bottom: 20px;
      border-bottom: 3px solid gainsboro;
  }

  img {
      width: 50%;
  }

  button {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
  }

  .boite {
      width: 30%;
  }

  @media screen and (max-width: 890px) {
      .boite {
          width: 100%;
      }
  }