@font-face {
  font-family: 'champagne__limousinesbold';
  src: url('fonts/champagnelimousines_bold-webfont.woff2') format('woff2'),
       url('fonts/champagnelimousines_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 2rem;
  letter-spacing: -3px;
}

h1, h2, h5, #panierBarre, #formTitle, #total, #newDivPosition, #form {
  font-family: 'champagne__limousinesbold';
}

@media screen and (min-width: 1100px) {
  #teddys {
    margin-right: auto;
    margin-left: auto;
    width: 70%;
  }
}

@media screen and (min-width: 1100px) {
  #furnitures {
    margin-right: auto;
    margin-left: auto;
    width: 70%;
  }
}

@media screen and (min-width: 1100px) {
  #cameras {
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
  }
}

@media screen and (max-width: 840px) and (min-width: 801px) {
  #cameras {
    margin-top: 100px;
  }
}

.productNames {
  font-size: 144%;
}

p {
  font-size: 100%;
}

img {
  box-shadow: 0px 0px 8px 1px #a2a5a4;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.close {
  font-size: 1rem;
}

.card-img-top {
  width: 140px;
  height: 95px;
}
@media screen and (max-width: 800px) {
  .card-img-top {
    width: 370px;
    height: 236px;
  }
} 
@media screen and (max-width: 410px) {
  .card-img-top {
    width: 320px;
    height: 186px;
  }
} 
@media screen and (max-width: 360px) {
  .card-img-top {
    width: 290px;
    height: 156px;
  }
} 
@media screen and (max-width: 330px) {
  .card-img-top {
    width: 260px;
    height: 156px;
  }
} 

.card-body {
flex: none;
padding: 0%;
padding-top: 1rem;
}

h2 {
  margin-top: 3%;
  padding-bottom: 20px;
  border-bottom: 3px solid gainsboro;
  font-size: 237%;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

.fa-shopping-cart {
  font-size: 200%;
  position: absolute;
  top: 20px;
  right: 37px;
}

.fa-shopping-cart:hover {
  color: #eeeeeed7;
}

#product {
  margin-right: auto;
  margin-left: auto;
}

.imgProduct {
  margin: auto;
}


#newDivClear, #supprimerBarre {
  max-width: 150px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fa-stack-2x {
  position: relative;
}


#divPrice {
  display: flex;
  flex-direction: row-reverse;
  font-size: 2em;
  align-items: center;
}

#price {
  font-weight: bold;
  font-size: 1.8rem;
}

#panierBarre {
  font-size: 1.5rem;
  border-bottom: solid;
  margin-bottom: 15px;
}


#prixBarre {
  display: flex;
  flex-direction: row-reverse;
}


@media screen and (max-width: 1100px) {
  #videBarre, #divName {
    min-width: 0;
  }

}

.divTotal {
  width: 80%;
  display: flex;
  margin: 0 auto 0 auto;
}

#txtTotal {
  color: #868686;
}


.card {
  border: none;
  margin-top: 2%;
  margin-bottom: auto;
  height: 550px;
}

.card-title {
  font-size: 2rem;
  margin-bottom: 6%;
  font-weight: bold;
}

.card-text {
  margin-bottom: 6%;
}

.card-select {
  margin-bottom: 6%;
}

button {
  margin-right: auto;
  margin-left: auto;
}

.addCartButton {
  margin-top: 3%;
}

#errorMsg {
  margin-top: -33px;
  height: 30px;
  color: red;
  font-style: italic;
}

.row {
  margin: 0%;
}

.container {
  text-align: center;
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .row {
    display: flex;
    flex-direction: column;
  }
}

.no-gutters>.col, .no-gutters>[class*=col-] {
  padding-right: 2%;
  padding-left: 2%;
}

#form {
  padding: 10px;
  max-width: 360px;
  min-width: 324px;
  height: 410px;
  margin: 0 5px 0 5px;
  font-size: 1rem;
  background-color: white;
}

#buttonCommand {
  margin: 32px auto 10% auto;
}

#formTitle {
  font-size: 1.40em;
  border-bottom: solid;
  margin-bottom: 2%;
}

#titleConfirmation {
  display: flex;
  justify-content: center;
  margin: 0 2% 0 2%;
}

#textOrderId { 
  color: #868686;
}

#textOrderId2 {
  font-style: italic;
}

#textTotalCommande {
  margin-top: 10%;
  font-size: 1.5rem;
}

#textOrderId, #textTotalCommande {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 390px) {
  #textOrderId, #textTotalCommande {
    display: list-item;
  }
}

#totalPrice, #orderId {
  margin-left: 5px;
}

#total {
  font-size: 1.15em;
  margin-bottom: 10px;
}

#totaltxt {
  font-weight: bold;
}

#bodyPanier {
  background-color: #eeeeee;
}

#panier {
  display: flex;
  justify-content: center;
}

#produit {
  min-width: 515px;
  max-width: 570px;
  height: 100%;
  margin: 0 5px 0 5px;
  background-color: white;
}



#imgPanier {
  width: 140px;
  height: 140px;
  margin: 16px;
}

.newProduct {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #eee;
}

#newDivPosition {
  width: 327px;
}

@media screen and (max-width: 890px) {
  #panier {
    flex-direction: column;
  }

  #produit, #form {
    width: 100%;
    max-width: 100%;
    min-width: 0;
  }

  #form {
    margin-top: 15px;
    height: 100%;
  }

  #newDivPosition {
    width: 100%;
    margin-right: 16px;
  }
  
}

