
@font-face {
  font-family: 'champagne__limousinesbold';
  src: url('fonts/champagnelimousines_bold-webfont.woff2') format('woff2'),
       url('fonts/champagnelimousines_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 2rem;
  letter-spacing: -3px;
}

h1, h2, h5, #panierBarre, #formTitle {
  font-family: 'champagne__limousinesbold';
}


@media screen and (min-width: 1100px) {
  #teddys {
    margin-right: auto;
    margin-left: auto;
    width: 70%;
  }
}

@media screen and (min-width: 1100px) {
  #furnitures {
    margin-right: auto;
    margin-left: auto;
    width: 70%;
  }
}

@media screen and (min-width: 1100px) {
  #cameras {
    margin-right: auto;
    margin-left: auto;
    width: 70%;
  }
}

.productNames {
  font-size: 144%;
}

p {
  font-size: 100%;
}

img {
  box-shadow: 0px 0px 8px 1px #a2a5a4;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* @media screen and (max-width: 708px) {
    img {
      width: 400px;
    }
  }
  @media screen and (max-width: 330px) {
    img {
      width: 270px;
    }
  } */

.card-img-top {
  width: 140px;
  height: 95px;
}
@media screen and (max-width: 800px) {
  .card-img-top {
    width: 370px;
    height: 236px;
  }
} 
@media screen and (max-width: 410px) {
  .card-img-top {
    width: 320px;
    height: 186px;
  }
} 
@media screen and (max-width: 360px) {
  .card-img-top {
    width: 290px;
    height: 156px;
  }
} 
@media screen and (max-width: 330px) {
  .card-img-top {
    width: 260px;
    height: 156px;
  }
} 

.card-body {
flex: none;
padding: 0%;
padding-top: 1rem;
}

h2 {
  margin-top: 3%;
  padding-bottom: 20px;
  border-bottom: 3px solid gainsboro;
  font-size: 237%;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

.fa-shopping-cart {
  font-size: 200%;
  position: absolute;
  top: 20px;
  right: 37px;
}

#product {
  margin-right: auto;
  margin-left: auto;
}

#imgProduct {
  margin-top: 20%;
}

@media screen and (max-width: 768px) {
  #imgProduct {
    margin-top: 0;
  }
}

#newDivClear {
  max-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fa-stack-2x {
  position: relative;
}

.newDivImg {
  max-width: 400px;
}

#divImg {
  max-width: 400px;
  min-width: 380px;
  display: flex;
  justify-content: center;
}

#divName, #divPrice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2em;
}

#divName, #videBarre {
  max-width: 390px;
  min-width: 350px;
}

#divPrice {
  align-items: center;
  width: 360px;
}

#price {
  font-weight: bold;
  font-size: 1.8rem;
}

#panierBarre {
  font-size: 1.5rem;
  border-bottom: solid;
  margin-left: 4px;
  margin-right: 4px;
}

#nomBarre, #supprimerBarre, #prixBarre {
  display: flex;
}

#nomBarre {
  max-width: 400px;
  min-width: 380px;
  justify-content: flex-start;
}

#prixBarre {
  width: 360px;
  align-items: center;
  justify-content: center;
}

#supprimerBarre {
  max-width: 150px;
  justify-content: flex-start;
}

#total {
  font-size: 2rem;
}



.card {
  border: none;
  margin-top: 2%;
  margin-bottom: auto;
  height: 550px;
}

.card-title {
  font-size: 2rem;
  margin-bottom: 6%;
  font-weight: bold;
}

.card-text {
  margin-bottom: 6%;
}

.card-select {
  margin-bottom: 6%;
}

button {
  margin-right: auto;
  margin-left: auto;
}

.addCartButton {
  margin-top: 3%;
}

.row {
  margin: 0%;
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .row {
    display: flex;
    flex-direction: column;
  }
}

/* .contentTextProduct {
  
} */

.no-gutters>.col, .no-gutters>[class*=col-] {
  padding-right: 2%;
  padding-left: 2%;
}

#form {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  font-size: 1.5rem;
}

#buttonCommand {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}

#formTitle {
  font-size: 2rem;
  border-bottom: solid;
  margin-bottom: 2%;
}