header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Roboto, "Times New Roman";
    margin-bottom: 2rem;
    letter-spacing: -2px;
}

@media screen and (min-width: 1100px) {
  #teddys {
    margin-right: auto;
    margin-left: auto;
     width: 70%;
   }   
}

@media screen and (min-width: 1100px) {
  #furnitures {
    margin-right: auto;
    margin-left: auto;
     width: 70%;
   }   
}

@media screen and (min-width: 1100px) {
  #cameras {
    margin-right: auto;
    margin-left: auto;
     width: 70%;
   }   
}

h1 {
  color: white;
}

.productNames {
  font-size: 144%;
}

p {
  font-size: 100%;
}


  img {
    box-shadow: 0px 0px 8px 1px #a2a5a4;
    border-radius: 5px;
    max-width: 1000px;
    max-height: 666px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 150%;
  }

  @media screen and (max-width: 708px) {
    img {
      width: 400px;
    }
  }
  @media screen and (max-width: 330px) {
    img {
      width: 270px;
    }
  }
h2 {
    margin-top: 3%;
    padding-bottom: 20px;
    border-bottom: 3px solid gainsboro;
    font-size: 237%;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

div {
  margin-left: 8%;
  margin-right: 8%;
}

i {
  font-size: 200%;
  position: absolute;
  top: 20px;
  right: 37px;
}

#produit {
  padding-bottom: 3%;
  background-color: azure;
  /* border: solid; */
  display: flex;
  flex-direction: column;
}

#divImg {
border: solid;
width: 25%;
}

#divName {
  border: solid;
}

#divPrice {
  border: solid;
  margin-top: 1%;
}

.card {
  border: none;
  padding: 0%;
  margin-top: auto;
  margin-bottom: auto;
}

button {
  margin-right: auto;
  margin-left: auto;
}